{% extends "layout.html" %}
{% block content %}
    <h1>Settings</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="/static/img/binance.svg" class="card-img-top" alt="..." style="max-height: 100px;">
          <div class="card-body">
            <h5 class="card-title">Binance</h5>
            <form method="POST" action="">
              {{ binanceform.hidden_tag() }}
              <fieldset class="form-group">
                <div class="form-group">
                  {{ binanceform.binanceapi_key.label(class="form-control-label")}}
                  {% if binanceform.binanceapi_key.errors %}
                    {{ binanceform.binanceapi_key(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in binanceform.binanceapi_key.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ binanceform.binanceapi_key(class="form-control form-control-lg")}}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ binanceform.binanceapi_secret.label(class="form-control-label")}}
                  {% if binanceform.binanceapi_secret.errors %}
                  {{ binanceform.binanceapi_secret(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in binanceform.binanceapi_secret.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                  {{ binanceform.binanceapi_secret(class="form-control form-control-lg")}}
                  {% endif %}
                  
                </div>
                <div class="form-check">
                  {{ binanceform.binanceenable_dust(class="form-check-input") }}
                  {{ binanceform.binanceenable_dust.label(class="form-check-label") }}
                </div>
                <div class="form-group">
                  {{ binanceform.binanceassets.label(class="form-control-label")}}
                  {{ binanceform.binanceassets(class="form-control form-control-lg")}}
                </div>
              </fieldset>
              <div class="form-group">
                {{ binanceform.binancesubmit(class="btn btn-outline-info") }}
              </div>
              
            </form>
          </div>
        </div> <!-- card -->
      </div> <!-- col -->
      <div class="col">
        <div class="card">
          <img src="/static/img/poloniex.svg" class="card-img-top" alt="..." style="max-height: 100px;">
          <div class="card-body">
            <h5 class="card-title">Poloniex</h5>
            <form method="POST" action="">
              {{ poloniexform.hidden_tag() }}
              <fieldset class="form-group">
                <div class="form-group">
                  {{ poloniexform.poloniexapi_key.label(class="form-control-label")}}
                  {{ poloniexform.poloniexapi_key(class="form-control form-control-lg")}}
                </div>
                <div class="form-group">
                  {{ poloniexform.poloniexapi_secret.label(class="form-control-label")}}
                  {{ poloniexform.poloniexapi_secret(class="form-control form-control-lg")}}
                </div>
              </fieldset>
              <div class="form-group">
                {{ poloniexform.poloniexsubmit(class="btn btn-outline-info")}}
              </div>
              
            </form>
          </div>
        </div> <!-- card -->
      </div> <!-- col -->
    
    
  </div> <!-- cards row -->
{% endblock content %}